<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Manage Bars</b></h4>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-success" (click)="AddBar()">
                <i class='fas fa-plus-circle'></i><span> ADD</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>Name</th>
              <th>Address</th>
              <th>OpeningTime</th>
              <th>ClosingTime</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bar of barList" class="center-align">
              <td>{{ bar.Name }}</td>
              <td>{{ bar.Address }}</td>
              <td>{{ bar.OpeningTime }}</td>
              <td>{{ bar.ClosingTime }}</td>
              <td>
                <a href="#" [routerLink]="['/ViewBar/', bar.Id]" class="btn"><i class='fas fa-eye view'></i></a>
                <a href="#" [routerLink]="['/EditBar/', bar.Id]" class="btn"><i class="fa fa-edit edit"></i></a>
                <button type="button" (click)="deleteBarConfirmation(bar)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
              </td>
            </tr>
            <tr>
              <td *ngIf="barList.length == 0" colspan="6">No Bar Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>